@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  counter-reset: card;
}

header {
  width: 100%;
}
header .logo {
  margin: 2vh 0 2vh 0;
  width: 45%;
}

.location {
  box-shadow: inset 0px 5px 5px 0px rgba(53, 53, 53, 0.25);
  background-color: rgb(240, 240, 240);
  width: 100%;
  padding: 2vh 0 2vh 0;
}
.location p {
  margin-left: 15px;
}

.ad {
  width: 100%;
  padding-top: 4vh;
  padding-bottom: 4vh;
  height: 35vh;
  flex-direction: column;
  justify-content: space-around;
}
.ad .accroche {
  text-align: center;
  width: 70%;
  font-size: 23px;
  font-weight: bold;
}
.ad .slogan {
  color: rgb(36, 36, 36);
  width: 80%;
  text-align: center;
  font-size: 17px;
  margin-bottom: 3vh;
}
.ad button {
  padding: 2vh;
  border-radius: 5vh;
  border: none;
  background: rgb(147, 86, 220);
  color: white;
  cursor: pointer;
  background: linear-gradient(355deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  font-size: 17px;
}

.how {
  margin: auto;
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 3.5vh;
}
.how .fonctionnement {
  font-size: 23px;
  font-weight: bold;
  align-self: baseline;
}
.how .card {
  display: flex;
  flex-direction: row;
  align-items: center;
  -moz-column-gap: 4vw;
       column-gap: 4vw;
  width: 95%;
  padding: 3vh 0 3vh 0;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}
.how .card .icon {
  margin-left: 8vw;
}
.how .card p {
  font-weight: bold;
  font-size: 17px;
}
.how .card::before {
  counter-increment: card;
  content: counter(card);
  position: absolute;
  height: 4vh;
  font-size: 16px;
  font-weight: bold;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  transform: translateX(-2vh);
  display: flex;
  justify-content: center;
  align-items: center;
}
.how .card:hover {
  background-color: rgba(146, 86, 220, 0.0901960784);
}
.how .card:hover > .icon {
  color: #9356DC;
}

.restaurant {
  margin: auto;
  width: 100%;
  background-color: rgb(240, 240, 240);
  margin-top: 5vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  flex-direction: column;
  row-gap: 3.5vh;
}
.restaurant .entete {
  margin-left: 5vw;
  font-size: 23px;
  font-weight: bold;
  align-self: baseline;
}
.restaurant .card {
  position: relative;
  width: 90%;
  border-radius: 15px 15px 15px 15px;
  overflow: hidden;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.3);
}
.restaurant .card .new {
  position: absolute;
  top: 2vh;
  right: 2vh;
  color: #295a45;
  font-weight: bold;
  background-color: rgba(153, 226, 208, 0.8);
  padding: 0.3vh 0.8vh;
  border-radius: 3px;
}
.restaurant .card img {
  width: 100%;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurant .card .legend {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vh 2.5vh 1.5vh 1.5vh;
}
.restaurant .card .legend .col {
  width: 70%;
  display: flex;
  flex-direction: column;
  row-gap: 0.7vh;
}
.restaurant .card .legend .col p {
  width: 100%;
}
.restaurant .card .legend .col .title {
  font-size: 20px;
  font-weight: bold;
}
.restaurant .card .legend .icon {
  margin-right: 3%;
  align-self: baseline;
  font-size: 35px;
}
.restaurant .card .legend .icon:hover {
  font-weight: bold;
  cursor: pointer;
  background: linear-gradient(355deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: opacity 1s ease-in-out;
  -webkit-animation: apparition 1s ease-in-out forwards;
          animation: apparition 1s ease-in-out forwards;
}

footer {
  width: 100%;
  padding: 3vh 5vw 6.5vh 5vw;
  display: flex;
  font-size: 20px;
  flex-direction: column;
  row-gap: 1.4vh;
  color: white;
  background-color: rgb(55, 55, 55);
}
footer img {
  width: clamp(50px, 30%, 150px);
  padding-bottom: 2.5vh;
}
footer .row {
  display: flex;
  flex-direction: row;
}
footer .row .icon {
  width: 30px;
}

/********************* KEYFRAMES ************************/
@-webkit-keyframes apparition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes apparition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */