@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    
                    counter-reset: card;
}

header{
    width: 100%;
                .logo{
                    margin:2vh 0 2vh 0;
                    width: 45%;
        } 
} 


.location{
            -webkit-box-shadow: inset 0px 5px 5px 0px rgba(53, 53, 53, 0.25); 
            box-shadow: inset 0px 5px 5px 0px rgba(53, 53, 53, 0.25); 
            background-color: rgb(240, 240, 240);
            width: 100%;
            padding:2vh 0 2vh 0;
                p{
                    margin-left: 15px;
                }
        }



.ad{
    width: 100%;
    padding-top: 4vh;
    padding-bottom: 4vh;
    height: 35vh;
    flex-direction: column;
    justify-content: space-around;
        .accroche{
            text-align: center;
            width: 70%;
            font-size: 23px;
            font-weight: bold;
        }
        .slogan{
            color: rgb(36, 36, 36);
            width: 80%;
            text-align: center;
            font-size: 17px;
            margin-bottom: 3vh;
        }
        button{
            padding: 2vh;
            border-radius: 5vh;
            border: none;
            background: rgb(147,86,220);
            color: white;
            cursor: pointer;
            background: linear-gradient(355deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
            font-size: 17px;
        }
}



.how{
    margin: auto;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap:3.5vh;
        .fonctionnement{
            font-size: 23px;
            font-weight: bold;
            align-self: baseline;
        }
        .card{
            display: flex;
            flex-direction: row;
            align-items: center;
            column-gap: 4vw;
            width: 95%;
            padding: 3vh 0 3vh 0;
            -webkit-box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.3); 
            box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.3);
            border-radius: 20px;
                .icon{
                    margin-left: 8vw;
                }
                p{
                    font-weight: bold;
                    font-size: 17px;
                }
                &::before{
                    counter-increment: card;
                    content: counter(card);
                    position: absolute;
                    height: 4vh;
                    font-size: 16px;
                    font-weight: bold;
                    aspect-ratio: 1/1;
                    border-radius: 50%;
                    background-color: #9356DC ;
                    color: white;
                    transform: translateX(-2vh);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                &:hover{
                    background-color: #9256dc17;
                }
        }
}   

.restaurant{
    margin: auto;
    width: 100%;
    background-color: rgb(240, 240, 240);
    margin-top: 5vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    flex-direction: column;
    row-gap: 3.5vh;
    
        .entete{
            margin-left: 5vw;
            font-size: 23px;
            font-weight: bold;
            align-self: baseline;
        }
        .card{
            position: relative;
            width: 90%;
            border-radius: 15px 15px 15px 15px;
            overflow: hidden;
            -webkit-box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.3); 
            box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.3);
            .new{
                 position: absolute;
                 top: 2vh;
                 right: 2vh;
                 color: #295a45;
                 font-weight: bold;
                 background-color: #99e2d0cc;
                 padding: 0.3vh 0.8vh;
                 border-radius: 3px;
            }
            img{
                width: 100%;
                aspect-ratio: 16/9;
                object-fit: cover;
            }
            .legend{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 1vh 2.5vh 1.5vh 1.5vh;
                    .col{
                        width: 70%;
                        display: flex;
                        flex-direction: column;
                        row-gap: 0.7vh;
                        
                            p{
                                width: 100%;
                            }
                            .title{
                                font-size: 20px;
                                font-weight: bold;
                            }
                    }
                    .icon{
                        margin-right: 3%;
                        align-self: baseline;
                        font-size: 35px;
                    }
            }
        }
}

footer{
    width: 100%;
    padding: 3vh 5vw 6.5vh 5vw; 
    display: flex;
    font-size: 20px;
    flex-direction: column;
    row-gap: 1.4vh;
    color: white;
    background-color: rgb(55, 55, 55);
        img{
            width: clamp(50px,30%,150px);
            padding-bottom: 2.5vh;
        }
        
        .row{
            display: flex;
            flex-direction: row;
                .icon{
                    width: 30px;
                }
        }
  

}