header{
    width: 100%;
                .logo{
                    margin:2vh 0 2vh 0;
                    width: min(45%,300px);
        } 
} 
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}