@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
header {
  width: 100%;
  box-shadow: 0px 2px 8px 5px rgba(0, 0, 0, 0.26);
}
header .logo {
  margin: 2vh 0 2vh 0;
  width: min(45%, 300px);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  width: 100%;
  padding: 3vh 5vw 6.5vh 5vw;
  display: flex;
  font-size: 20px;
  flex-direction: column;
  row-gap: 1.4vh;
  color: white;
  background-color: rgb(55, 55, 55);
}
footer P {
  cursor: pointer;
}
footer img {
  width: clamp(50px, 30%, 150px);
  padding-bottom: 2.5vh;
}
footer .row {
  display: flex;
  flex-direction: row;
}
footer .row .icon {
  width: 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

@-webkit-keyframes rota {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rota {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  99% {
    opacity: 0;
    top: 0;
  }
  to {
    top: -100vh;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  99% {
    opacity: 0;
    top: 0;
  }
  to {
    top: -100vh;
  }
}
a {
  color: black;
  text-decoration: none;
}

.spinner-parent {
  -webkit-animation: fade-out 1s ease-out 1.5s;
          animation: fade-out 1s ease-out 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  z-index: 5;
  opacity: 1;
}

.spinner {
  position: fixed;
  z-index: 6;
  width: 20vw;
  aspect-ratio: 1/1;
  background: url("../image/spinner-solid.svg") center no-repeat;
  -webkit-animation: rota 1.5s ease-in-out infinite;
          animation: rota 1.5s ease-in-out infinite;
}

body {
  counter-reset: card;
}

main {
  flex-direction: column;
}

.location {
  box-shadow: inset 0px 5px 5px 0px rgba(53, 53, 53, 0.25);
  background-color: rgb(240, 240, 240);
  width: 100%;
  padding: 2vh 0 2vh 0;
}
@media (min-width: 992px) {
  .location {
    margin-bottom: 3vh;
  }
}
.location p {
  margin-left: 15px;
}

.ad {
  width: 100%;
  padding-top: 4vh;
  padding-bottom: 4vh;
  height: 35vh;
  flex-direction: column;
  justify-content: space-around;
}
@media (min-width: 992px) {
  .ad {
    border-right: 2px solid rgb(55, 55, 55);
    width: 40%;
    justify-content: space-between;
    padding: 0;
    height: 40vh;
  }
}
.ad .accroche {
  text-align: center;
  width: 70%;
  font-size: 23px;
  font-weight: bold;
}
@media (min-width: 992px) {
  .ad .accroche {
    font-size: 25px;
  }
}
.ad .slogan {
  color: rgb(36, 36, 36);
  width: 80%;
  text-align: center;
  font-size: 17px;
  margin-bottom: 3vh;
}
@media (min-width: 992px) {
  .ad .slogan {
    margin: 0;
    font-size: 23px;
  }
}
.ad a {
  text-decoration: none;
  padding: 2vh;
  border-radius: 5vh;
  border: none;
  background: rgb(147, 86, 220);
  color: white;
  cursor: pointer;
  background: linear-gradient(355deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  font-size: 17px;
}

.how {
  margin: auto;
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 3.5vh;
}
@media (min-width: 768px) {
  .how {
    flex-direction: row;
    flex-wrap: wrap;
    -moz-column-gap: 4vw;
         column-gap: 4vw;
  }
}
@media (min-width: 992px) {
  .how {
    margin: 0;
    height: 40vh;
    row-gap: 0;
    justify-content: space-between;
    width: 40%;
    flex-direction: column;
    align-items: center;
  }
}
.how .fonctionnement {
  font-size: 23px;
  font-weight: bold;
  align-self: baseline;
}
@media (min-width: 768px) {
  .how .fonctionnement {
    width: 100%;
    font-size: 25px;
  }
}
@media (min-width: 992px) {
  .how .fonctionnement {
    width: 100%;
    text-align: center;
  }
}
.how .card {
  display: flex;
  flex-direction: row;
  align-items: center;
  -moz-column-gap: 4vw;
       column-gap: 4vw;
  width: 95%;
  padding: 3vh 0 3vh 0;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}
@media (min-width: 768px) {
  .how .card {
    width: min(30%, 300px);
    padding: 3vh 0;
    white-space: nowrap;
  }
}
@media (min-width: 992px) {
  .how .card {
    width: min(80%, 500px);
  }
}
.how .card .icon {
  margin-left: 8vw;
}
@media (min-width: 768px) {
  .how .card .icon {
    margin-left: 35px;
    margin-right: -2.5vw;
  }
}
@media (min-width: 992px) {
  .how .card .icon {
    margin-left: 35px;
    margin-right: -2.5vw;
  }
}
.how .card p {
  font-weight: bold;
  font-size: 17px;
}
@media (min-width: 768px) {
  .how .card p {
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
@media (min-width: 992px) {
  .how .card p {
    font-size: 18px;
  }
}
.how .card::before {
  counter-increment: card;
  content: counter(card);
  position: absolute;
  height: 4vh;
  font-size: 16px;
  font-weight: bold;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  transform: translateX(-2vh);
  display: flex;
  justify-content: center;
  align-items: center;
}
.how .card:hover {
  background-color: rgba(146, 86, 220, 0.0901960784);
}
.how .card:hover > .icon {
  color: #9356DC;
}

.restaurant {
  margin: auto;
  width: 100%;
  background-color: rgb(240, 240, 240);
  margin-top: 5vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  flex-direction: column;
  row-gap: 3.5vh;
}
@media (min-width: 768px) {
  .restaurant {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 6vw;
    -moz-column-gap: 4vh;
         column-gap: 4vh;
  }
}
@media (min-width: 992px) {
  .restaurant {
    row-gap: 4vh;
    width: 100%;
    padding: 5vh 10vw;
  }
}
.restaurant .entete {
  margin-left: 5vw;
  font-size: 23px;
  font-weight: bold;
  align-self: baseline;
}
@media (min-width: 768px) {
  .restaurant .entete {
    width: 100%;
    font-size: 25px;
    margin-left: 5vw;
  }
}
@media (min-width: 992px) {
  .restaurant .entete {
    margin: 0;
    font-size: 33px;
    text-align: center;
  }
}
.restaurant .card {
  position: relative;
  width: 90%;
  border-radius: 15px 15px 15px 15px;
  overflow: hidden;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.3);
}
@media (min-width: 768px) {
  .restaurant .card {
    width: clamp(300px, 35vw, 500px);
  }
}
.restaurant .card .new {
  position: absolute;
  top: 2vh;
  right: 2vh;
  color: #295a45;
  font-weight: bold;
  background-color: rgba(153, 226, 208, 0.8);
  padding: 0.3vh 0.8vh;
  border-radius: 3px;
}
.restaurant .card img {
  width: 100%;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurant .card .legend {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vh 2.5vh 1.5vh 1.5vh;
}
.restaurant .card .legend .col {
  width: 70%;
  display: flex;
  flex-direction: column;
  row-gap: 0.7vh;
}
.restaurant .card .legend .col p {
  width: 100%;
}
.restaurant .card .legend .col .title {
  font-size: 20px;
  font-weight: bold;
}
.restaurant .card .legend .icon {
  margin-right: 3%;
  align-self: baseline;
  font-size: 35px;
}
.restaurant .card .legend .icon:hover {
  font-weight: bold;
  cursor: pointer;
  background: linear-gradient(355deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: apparition 1s ease-in-out forwards;
          animation: apparition 1s ease-in-out forwards;
}

@media (min-width: 992px) {
  main {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: 992px) {
  footer {
    padding: 5vh 10vw;
    align-items: center;
  }
}

/********************* KEYFRAMES ************************/
@-webkit-keyframes apparition {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
@keyframes apparition {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */