@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Shrikhand&display=swap');
@import '_header.scss' ;
@import '_footer.scss';
@import "../style/mixins/responsive.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;}


.back{
    font-size: max(3vw,20px);
    position: absolute;
    left: 3.5vw;
    color: black;
    text-decoration: none;
        @include desktop{
            left: 10vw;
        }

}

.background{
    
    object-fit: cover;
    width: 100%;
    z-index: -1;
        @include desktop{
            height:50vh ;  
        }
}

@keyframes apparition {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/***************heart hover***************/

form .title i:hover{
font-weight:bold ;
cursor: pointer;
background: linear-gradient(355deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
transition: opacity 1s ease-in-out;
animation: apparition 1s ease-in-out forwards;
}
/****************************************/

form{
    display: flex;
    flex-direction: column;
    background-color: rgb(241, 241, 241);
    transform: translateY(-5.5vh);
    width: 100%;
    row-gap: 3.5vh;
    border-radius: 40px 40px 0 0;
    padding: 5vh 5vw 5vh 5vw;
        @include desktop{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 5vh 10vw;
            row-gap: 2vh;
        }
        .title{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            @include desktop{
                width: 100%;
                font-size: 30px;
            }
                i{
                    font-size: 35px;
                }
                p{
                    font-size: 26px;
                    font-style: italic;
                    font-family: 'Shrikhand', cursive;
                   
                }
        } 

        .subtitle{
            margin-top: 3vh;
            display: flex;
            flex-direction: column;
            @include desktop{
                width: 100%;
                font-size: 30px;
            }
                p{
                    font-size: 20px;
                    margin-bottom: 0.3vh;
                    @include desktop{
                        font-size: 26px;
                    }
                }
                .border{
                    width: 40px;
                    background-color: #99E2D0;
                    height: 3px;
                    @include desktop{
                        width:65px;
                    }
                }
        }
        .card{
            opacity: 0;
            display: flex;
            justify-content: space-between;
            overflow: hidden;
            width:100%;
            border-radius: 20px;
            -webkit-box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.3); 
                box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.3);
                @include desktop{
                    width: 31%;
                }
                &:hover> .price{
                    margin-right: 0px;
                    transition: margin 1s ease;
                }
                &:hover>.price .check svg{
                    transform: rotate(360deg);
                    transition: transform 0.5s ease-in-out  0.1s;
                }
                .name{
                    padding: 15px;
                    display: flex;
                    flex-direction: column;
                    row-gap: 0.6vh;
                    white-space: nowrap;
                    flex-grow: 1;
                    white-space:nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;

                        h1,p{
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        h1{
                            font-size: clamp(17px,2vw,23px);
                        }
                        p{
                            font-size: clamp(15px,2vw,20px);
                        }
                }
                .price{
                    transition: margin 1s ease;
                    margin-right: -18vw;
                    display: flex;
                    @include desktop{
                        margin-right: -70px;
                    }
                        span{
                            margin-right: 15px;
                            margin-bottom: 15px;
                            display: flex;
                            align-self: flex-end;
                            font-size: clamp(17px,2vw,20px);
                        }
                        .check{
                            background-color: aquamarine;
                            width: 18vw;
                            display: flex;
                            justify-content: center;
                            align-items:center;
                            @include desktop{
                                width: 70px;
                            }
                                svg{
                                    fill:white;
                                    width: 30px;
                                    aspect-ratio: 1/1;
                                }
                        }
                }
        }
}
footer{
    margin-top: -50px;
    @include desktop{
        padding: 3vh 10vw 6.5vh 10vw;
    }
}

/********************* KEYFRAMES ************************/
@keyframes apparition {
    from{
        opacity: 0.5;
    }
    to{
        opacity: 1;
    }
}

@keyframes entry{
    from{
        transform: translateY(-40px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}
/********************* boucle for ************************/

@for $i from 1 through 9 {
    .card-#{$i} {
        animation: entry 0.5s ease-in-out forwards  0.15s*$i ;
    }
}

