@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "_header.scss";
@import "_footer.scss";
@import "../style/mixins/responsive.scss";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
@keyframes rota{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}
@keyframes fade-out {
    from{
        opacity: 1;
    }
    99%{
        opacity: 0;
        top: 0;
    }
    to{
        top:-100vh;
    }
}
a{
    color: black;
    text-decoration: none;
    
}
.spinner-parent{
    animation: fade-out 1s ease-out 1.5s;
    animation-fill-mode: forwards;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    z-index: 5;
    opacity: 1;
}
.spinner{
    position: fixed;
    z-index: 6;
    width: 20vw;
    aspect-ratio: 1/1;
    background:url('../image/spinner-solid.svg') center no-repeat;
    animation: rota 1.5s ease-in-out infinite;
}
body{
     counter-reset: card;
}

main{
    flex-direction: column;
}

.location{
            -webkit-box-shadow: inset 0px 5px 5px 0px rgba(53, 53, 53, 0.25); 
            box-shadow: inset 0px 5px 5px 0px rgba(53, 53, 53, 0.25); 
            background-color: rgb(240, 240, 240);
            width: 100%;
            padding:2vh 0 2vh 0;
            @include desktop{
                margin-bottom: 3vh;
            }
                p{
                    margin-left: 15px;
                }
}



.ad{
    width: 100%;
    padding-top: 4vh;
    padding-bottom: 4vh;
    height: 35vh;
    flex-direction: column;
    justify-content: space-around;
    @include desktop{
        border-right: 2px solid rgb(55, 55, 55);
        width: 40%;
        justify-content: space-between;
        padding: 0;
        height: 40vh;
    }
        .accroche{
            text-align: center;
            width: 70%;
            font-size: 23px;
            font-weight: bold;
            @include desktop{
                font-size: 25px;
            }
        }
        .slogan{
            color: rgb(36, 36, 36);
            width: 80%;
            text-align: center;
            font-size: 17px;
            margin-bottom: 3vh;
            @include desktop{
                margin: 0;
                font-size: 23px;
            }
        }
        a{
            text-decoration: none;
            padding: 2vh;
            border-radius: 5vh;
            border: none;
            background: rgb(147,86,220);
            color: white;
            cursor: pointer;
            background: linear-gradient(355deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
            font-size: 17px;
                &:hover{
                     background: linear-gradient(355deg, rgb(189, 131, 255) 0%,rgb(255, 159, 228) 100%);
                     -webkit-box-shadow: 2px 4px 6px 1px rgba(0,0,0,0.39); 
box-shadow: 2px 4px 6px 1px rgba(0,0,0,0.39);
                }
        }
}



.how{
    margin: auto;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap:3.5vh;
        @include tablet{
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: 4vw;
        }
        @include desktop{
            margin: 0;
            height: 40vh;
            row-gap: 0;
            justify-content: space-between;
            width: 40%;
            flex-direction: column;
            align-items: center;
        }
        .fonctionnement{
            font-size: 23px;
            font-weight: bold;
            align-self: baseline;
                @include tablet{
                    width: 100%;
                font-size: 25px;
                }
                @include desktop{
                    width: 100%;
                    text-align: center;
                }
        }
        .card{
            display: flex;
            flex-direction: row;
            align-items: center;
            column-gap: 4vw;
            width: 95%;
            padding: 3vh 0 3vh 0;
            -webkit-box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.3); 
            box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.3);
            border-radius: 20px;
                @include tablet{
                    width: min(30%,300px);
                padding: 3vh 0;
                white-space: nowrap;
                }
                @include desktop{
                    width: min(80%,500px);
                }
                .icon{
                    margin-left: 8vw;
                        @include tablet{
                            margin-left: 35px;
                            margin-right: -2.5vw;
                        }
                        @include desktop{
                            margin-left: 35px;
                        margin-right: -2.5vw;
                        }
                }
                p{
                    font-weight: bold;
                    font-size: 17px;
                        @include tablet{
                            font-size: 14px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }
                        @include desktop {
                            font-size: 18px;
                        }
                }
                &::before{
                    counter-increment: card;
                    content: counter(card);
                    position: absolute;
                    height: 4vh;
                    font-size: 16px;
                    font-weight: bold;
                    aspect-ratio: 1/1;
                    border-radius: 50%;
                    background-color: #9356DC ;
                    color: white;
                    transform: translateX(-2vh);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                &:hover{
                    background-color: #9256dc17;
                }
                &:hover> .icon{
                    color: #9356DC;
                }
        }
}   

.restaurant{
    margin: auto;
    width: 100%;
    background-color: rgb(240, 240, 240);
    margin-top: 5vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    flex-direction: column;
    row-gap: 3.5vh;
        @include tablet{
            flex-direction: row;
            flex-wrap: wrap;
            row-gap: 6vw;
            column-gap: 4vh;
        }
        @include desktop{
            row-gap: 4vh;
            width: 100%;
            padding: 5vh 10vw;
        }

        .entete{
            margin-left: 5vw;
            font-size: 23px;
            font-weight: bold;
            align-self: baseline;
                @include tablet{
                    width: 100%;
                    font-size: 25px;
                    margin-left:5vw;
                }
                @include desktop{
                    margin: 0;
                    font-size: 33px;
                    text-align: center;
                }
        }
        .card{
            position: relative;
            width: 90%;
            border-radius: 15px 15px 15px 15px;
            overflow: hidden;
            -webkit-box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.3); 
            box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.3);
                @include tablet{
                    width: clamp(300px,35vw,500px);
                }

           
            .new{
                 position: absolute;
                 top: 2vh;
                 right: 2vh;
                 color: #295a45;
                 font-weight: bold;
                 background-color: #99e2d0cc;
                 padding: 0.3vh 0.8vh;
                 border-radius: 3px;
            }
            img{
                width: 100%;
                aspect-ratio: 16/9;
                object-fit: cover;
            }
            .legend{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 1vh 2.5vh 1.5vh 1.5vh;
                    .col{
                        width: 70%;
                        display: flex;
                        flex-direction: column;
                        row-gap: 0.7vh;
                        
                            p{
                                width: 100%;
                            }
                            .title{
                                font-size: 20px;
                                font-weight: bold;
                            }
                    }
                    .icon{
                        margin-right: 3%;
                        align-self: baseline;
                        font-size: 35px;
                        &:hover{
                            
                            font-weight:bold ;
                            cursor: pointer;
                            background: linear-gradient(355deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            animation: apparition 1s ease-in-out forwards;
                        }
                    }
                }
            }
}

main{
    @include desktop{
        flex-direction: row;
        flex-wrap: wrap;
    }
}
footer{
    @include desktop{
        padding: 5vh 10vw;
        align-items: center;
    }
}

/********************* KEYFRAMES ************************/
@keyframes apparition {
    from{
        opacity: 0.5;
    }
    to{
        opacity: 1;
    }
}